*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;

}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #a71f1f;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
}

.logo span{
    color: rgb(47, 189, 189);
}
.right-nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;

}
.right-nav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    /* background-color: #202020; */
}
.right-nav .like{
    background-color: #fff0ee;
    color: #ff6c57;
}
.right-nav .cart{
    background-color: #ecf7ee;
    color: #4eb060;

}

.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
    background-color: black;
}
.right-nav .like span{
    background-color: #ff6c57;
}
.right-nav .cart span{
    background-color: #4eb060;
}

.menu li a:hover,
.menu .active{
    color: #4eb060;
    font-weight: bold;
    transition: all ease 0.1s;
}

#search-banner{
    max-width: 1200px;
    height: 500px;
    border-radius: 30px;
    background-color: #ecf7ee;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.bg1{
    position: absolute;
    z-index: 1;
    
}
.search-banner-text{
    position: absolute;
    z-index: 2;
    color: white;
    margin: 70px;
}
.search-banner-text h1{
    font-size: 2.5rem;
    line-height: 45px;
    color: rgb(233, 231, 231);
    
}
.search-banner-text strong{
    color: rgb(71, 199, 186);
    font-size: 1.4rem;
    margin-top: 4px;
}

.search-box{
    background-color: #ffffff;
    height: 35px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
}
.search-box .search-input{
    height: 25px;
    border: none;
    width: 100%;
    padding: 0px 0px;
    outline: none;
}
.search-box .search-btn{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(71, 199, 186);
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
    font-weight: 700;
    
}
.search-box .search-btn:hover{
    background-color: rgb(20, 100, 92);
    transition: all ease 0.3s;
}
/* category */
#category,#popular-product,
#popular-bundle{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}
.category-heading, 
.product-heading, .partner-heading
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.category-heading h2,
 .product-heading h3,
 .partner-heading h3{
    
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    
}
.category-heading span{
    color: #5a5858;
    font-weight: 500;
    letter-spacing: 1px;
}

.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid black;
    

}

.category-box img{
    height: 65px;
    width: 80px;
    object-fit: contain;
    object-position: center;
    transition: all ease 1s;
}
.category-box span{
    color: #393939;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 600;
}
.category-box:hover img{
    transform: scale(1.2);
    transition: all ease 1s;
}

/* popular product */
#popular-product{
    margin: 80px auto;
}

.product-container{
    display: grid;
    margin: 40px 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

}
.product-box{
    width: 100%;
    border: 1px solid #e2dfdf;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

}
.product-box img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}
.product-box strong{
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}
.product-box .qty{
    color: #949494;
    font-weight: 500;
    letter-spacing: 1px;
}
.product-box .price{
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #292929;
}
.product-box .cart-btn{
    width: 100%;
    height: 40px;
    background-color: #ecf7ee;
    color: rgb(55, 158, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.2s;
    font-size: 1.1rem;
    font-weight: 600;
    
}
.product-box .cart-btn:hover{
    background-color: rgb(71, 199, 186);
    color: #ffffff;
    transition: all ease 2s;
}
.product-box .like{
    position: absolute;
    right: 30px;
    top: 20px;
    color: #cf9999;
    font-size: 1.2rem;
    transition: all ease 2s;

}
.product-box .like:hover{
    color: #db0e97;
    font-weight: 900;
    transition: all ease 0.1s;
}
/* popular bundel */
#popular-bundle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1150px;
    margin: 50px auto;
    padding: 60px 0 20px 0;
    background-color: #ecf7ee;
    border: 1px solid #f3f3f3;
    align-items: center;
    
}
.product-container, .product-heading{
    max-width: 1000px;
    width: 100%;
}
/* clients */
#client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    padding: 80px 0;
    margin: 40px 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
.client-heading{
    font-size: 1.3rem;
    color: #202020;
    font-weight: 700;
    letter-spacing: 1px;
}
.client-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    width: 90%;
    max-width: 1205px;
    margin-top: 40px;
    
}
.client-box{
    background-color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 2px 45px #6e6e6e;
    border-radius: 0px 20px 0px 20px;
}
.client-profile{
    display: flex;
    align-items: center;
}
.client-profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.profile-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.profile-text strong{
    color: #393939;
    font-size: 1.2rem;
    font-weight: 700;

}
.profile-text span{
    color: #949494;
    font-weight: 500;
}
.rating{
    display: flex;
    margin: 10px 0;
}
.rating span{
    color: rgb(192, 206, 2);
}
.client-box p{
    color: #5a5a5a;
}
/* partner */
#partner{
    margin: 100px auto;
    max-width: 1020px;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.logo-container img{
    height: 50px;
    object-fit: contain;
    object-position: center;
    filter: grayscale(2);
    opacity: 0.5;
    transition: all ease 1s;
}
.logo-container img:hover{
    transform: scale(1.2);
    transition: all ease 0.5s;
    filter: none;
    opacity: 1;
}
/* app */
#download-app{
    max-width: 1150px;
    width: 100%;
    background-color: #ecf7ee;
    height: 450px;
    margin: 225px auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.app-img{
    width: 275px;
    height: 550px;
    background-color: #e7e7e7;
    border: 4px solid #3a3a3a;
    border-radius: 20px;
    overflow: hidden;
}
.app-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.download-app-text{
    max-width: 500px;
    
}
.download-app-text strong{
    color: #393939;
    font-size: 1.6rem;
}
.download-app-text p{
    color: #3b3b3b;
    margin: 15px 0;
}
.don-btn{
    display: flex;
}
.don-btn a{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
}
.don-btn a img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
